// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #02cce4;
$white: white;
$pink: #ea529d;
$black: #000;

// Heights
$nav-height: 70px;
$footer-height: 320px;

// Transitions
$transition_duration: 500ms;
