$sides: (
  "t": "top",
  "r": "right",
  "b": "bottom",
  "l": "left",
);

@for $i from 1 through 5 {
  .p-#{$i} {
    padding: #{$i}rem;
  }
  .m-#{$i} {
    margin: #{$i}rem;
  }
  @each $s, $side in $sides {
    .p#{$s}-#{$i} {
      padding-#{$side}: #{$i}rem;
    }
    .m#{$s}-#{$i} {
      margin-#{$side}: #{$i}rem;
    }
  }
}
